# port
HOST=
PORT=

CLIENT_URL=


# database config
DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASSWORD=


# auth signature
ACCESS_TOKEN_SIGNATURE=

MANAGEMENT_ACCESS_TOKEN_SIGNATURE=
CHECK_PASSWORD_PASS=

OTP_DEFAULT_EXPIRY_SEC=


# SMTP
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASS=


# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=